/* SocialMediaCard.css */
.social-media-containers {
  display: flex;
}
.social-media-card {
  padding: 15px;
  margin: 10px;
  height: 93vh;
  text-align: center;
  border-right: 2px solid #c6c0c0;
  width: 20%;
}

.profile-picture {
  background-image: url("profile-picture.jpg");
  background-size: cover;
  background-position: center;
  width: 150px; /* Adjust the width and height as needed */
  height: 150px;
  margin: 0 auto; /* Center the profile picture */
  border-radius: 50%;
}

.follow-button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* Additional styling for other elements */
.username {
  font-size: 1.5em;
  margin: 10px 0;
}

.bio {
  margin: 10px 0;
}

.follower-count {
  color: #555;
  margin: 10px 0;
}
.post-message {
  width: 80%;
  text-align: center;
}
textarea {
  width: 300px;
  height: 50px;
  padding: 5px 5px;
}
.follow-button {
  height: 30px;
}
.posts {
  margin-top: 5em;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}
h3 {
  text-align: center;
}
.post-list {
  gap: 10em;
}
